src/main/resources/esquemita.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="course">
        <xs:complexType>
            <xs:all>
                <xs:element type="xs:integer" name="id"/>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:string" name="description"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>